// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//
.container-fluid-full {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.font-small {
    font-size: 0.9rem;
}

.font-big {
    font-size: 3.5rem;
}

.bor {
    border: 1px solid #61676d;
}

.f-2 {
    font-size: 1px;
}
